.maindiv{
  width: 280px;
  height: 300px;
  border: 2px solid;
  text-align: center;
  border-radius: 20px;
  margin: 7px;
 
}
.Wholediv{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
}
.imgsize{
  width: 250px;
  height: 150px;
}
.titeltext{
  margin: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:230px; /* some width */
}